@using MyShop.Data
@model MyShop.Models.Dvdcopy

@inject ApplicationDbContext database

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dvdcopy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dvd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dvd.DvDname)
        </dd>
    </dl>
</div>

@{
    var loan = Model.Loans.Where(x => x.LoanId == Model.Loans.Max(i => i.LoanId)).FirstOrDefault();
    var member = database.Members.Where(m => m.Loans.Contains(loan)).FirstOrDefault();
}
    <div>
        @if (loan != null)
        {
            <ul>
                <li>@member.FirstName @member.LastName</li>
                <li>Date out: @loan.DateOut</li>
                <li>Date Due: @loan.DateDue</li>
                <li>Date Returned: @loan.ReturnedDate</li>

            </ul>
        }
    </div>    


<div>
    <a asp-action="Edit" asp-route-id="@Model?.CopyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
