@model IEnumerable<MyShop.Models.Dvdcopy>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
<link href="@Url.Content("~/css/copy-index.css")" rel="stylesheet" type="text/css" />

}

<h1>Your DvD copies.</h1>



<button type="button" class="btn btn-primary rounded-pill my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
   <i class="bi bi-plus-circle"></i> Add a new copy
</button>


<div class="modal fade" id="exampleModal" tabindex="-10" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add DvD to your stock.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">DvD/Movie Name</label>
                    <select class="form-control" id="dvd-id-select" asp-items="ViewBag.DvdList">
                        <option value="">--Select a DvD--</option>
                    </select>
                    <span id="movie-error" class="text-danger">Please select a movie.</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Date of Purchase</label>
                    <input type="date" id="date-field" class="form-control" />
                    <span id="date-error" class="text-danger">Please select the date of purchase.</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Total number of copies.</label>
                    <input type="number" min="1" max="20" id="count-field" class="form-control" />
                    <span id="count-error" class="text-danger">Please add a valid total number of copies.</span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="submit-copy" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Title
            </th>
            <th>
                Copy Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < @Model.Count(); i++)
        {
            var item = Model.ToList()[i];
            var sn = i + 1;
            <tr>
                <td>@sn</td>
                <td>
                    @item.DatePurchased.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dvd.DvDname)
                </td>
                <td>
                    @item.CopyId
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CopyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CopyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

<script type="text/javascript" src=@Url.Content("~/js/copy-create.js")></script>
}
