@model MyShop.Models.Dvdtitle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dvdtitle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.AgeRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produce.ProducerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studio.StudioName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DvdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
