@model IEnumerable<MyShop.Models.Dvdtitle>

@{
    ViewData["Title"] = "Index";
}


@section Styles{
<link href="@Url.Content("~/css/catalog-index.css")" rel="stylesheet" type="text/css" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.AgeRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produce.ProducerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio.StudioName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DvdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DvdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DvdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">
    <div id="dvd-add">

        <p> <img src="~/images/plus.webp" alt="Add dvd icon"> Add DvD</p>
    </div>
</a>
