@using MyShop.Data
@model IEnumerable<MyShop.Models.Dvdtitle>

@inject ApplicationDbContext database

@{
    ViewData["Title"] = "Index";
}


@section Styles{
<link href="@Url.Content("~/css/catalog-index.css")" rel="stylesheet" type="text/css" />
}

<form asp-controller="Catalog" asp-action="Index" method="get">
    <div class="input-group">
        <input type="checkbox" name="inStock" />
        <label for="stock-check">Show only in stock.</label>
        <br>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" name="searchValue" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>

            @*Only show the count when the user is searching.*@
            @if (ViewBag.isSearch)
            {
                <th>
                    Number of copies.
                </th>
                <th>
                    Available copies.
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DvDname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.AgeRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produce.ProducerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio.StudioName)
                </td>

                @if (ViewBag.isSearch)
                {
                    <td>
                        @item.Dvdcopies.Count
                    </td>
                    <td>

                        @{
                            var inLoan = database.Loans.Where(l => l.ReturnedDate == null).Where(l => item.DvdId == l.Copy.DvdId).Count();
                            var copyCount = item.Dvdcopies.Count();
                            var result = copyCount - inLoan;
                        }
                        @result

                    </td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.DvdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DvdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DvdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">
    <div id="dvd-add">

        <p> <img src="~/images/plus.webp" alt="Add dvd icon"> Add DvD</p>
    </div>
</a>
