@using MyShop.Data
@model IEnumerable<MyShop.Models.Dvdtitle>

@inject ApplicationDbContext database

@{
    ViewData["Title"] = "Index";
}


@section Styles{
<link href="@Url.Content("~/css/catalog-index.css")" rel="stylesheet" type="text/css" />
}


<form asp-controller="Catalog" asp-action="Index" method="get">
    <div class="input-group">

        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" name="searchValue" aria-describedby="search-addon" />

        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
    <div class="position-relative mt-5">
        <div class="position-absolute bottom-0 end-0">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="inStock">
                <label class="form-check-label" for="flexSwitchCheckDefault">Only show available DvDs.</label>
            </div>
        </div>
    </div>
</form>


<table class="table align-middle mb-0 bg-white">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Release Date
            </th>
            <th>
                Rate
            </th>
            <th>
                Age Restricted
            </th>
            <th>
                Producer
            </th>
            <th>
                Studio
            </th>

            @*Only show the count when the user is searching.*@
            @if (ViewBag.isSearch)
            {
                <th>
                    Number of copies.
                </th>
                <th>
                    Available copies.
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="~/@item.DvDimages.FirstOrDefault().DvdImage1"
                         alt=""
                         style="width: 45px; height: 45px"
                         class="rounded-circle" />
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DvDname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.AgeRestricted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produce.ProducerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio.StudioName)
                </td>

                @if (ViewBag.isSearch)
                {
                    <td>
                        @item.Dvdcopies.Count
                    </td>
                    <td>

                        @{
                            var inLoan = database.Loans.Where(l => l.ReturnedDate == null).Where(l => item.DvdId == l.Copy.DvdId).Count();
                            var copyCount = item.Dvdcopies.Count();
                            var result = copyCount - inLoan;
                        }
                        @result

                    </td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.DvdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DvdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DvdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<a asp-action="Create">
    <div id="dvd-add">

        <p> <img src="~/images/plus.webp" alt="Add dvd icon"> Add DvD</p>
    </div>
</a>
