@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";

    var greetingMessage = "";

    var currentTime = DateTime.Now.Hour;

    if (currentTime < 12)
    {
        greetingMessage = "Good Morning";
    }
    else if (currentTime >= 12 && currentTime < 16)
    {
        greetingMessage = "Good Afternoon";
    }
    else
    {
        greetingMessage = "Good Evening";
    }
}

@section Styles{
<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/layout.css")" rel="stylesheet" type="text/css" />
}


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


    <div class="mb-1">
        <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Inventory
        </a>
        <div class="collapse" id="account-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="@Url.Action("Index", "Dvdcopies")" class="link-dark rounded">DvD Copies</a></li>
                <li><a href="javascript:void(0)" onclick="showSearchDialog()">Search Copy</a></li>
                <li><a href="@Url.Action("OldStock", "Dvdcopies")" class="link-dark rounded">Old Stock</a></li>
                <li><a href="@Url.Action("InLoan", "Dvdcopies")" class="link-dark rounded">In Loan</a></li>
            </ul>
        </div>
        <a href="@Url.Action("CompleteDetails", "Catalog")" class="link-dark rounded">DvD Catalog</a>
    </div>

</div>

<button type="button" class="btn btn-primary" id="search-copy-btn" data-bs-toggle="modal" data-bs-target="#searchModal" data-bs-whatever="mdo" hidden>b</button>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Copy Id:</label>
                        <input type="number" class="form-control" id="copy-id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="searchCopy()">Search</button>
            </div>
        </div>
    </div>
</div>


<div class="text-center">
    <h1 id="greeting" class="display-4">@greetingMessage @Model.FirstName!</h1>
    <h3 id="greeting-message">How are you doing today?</h3>


    <div id="card-container">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/catalogue.png" class="card-img-top" alt="DvD">
                    <p class="card-text">Manage your DvD catalog.</p>
                    <div class="card-footer bg-transparent">
                        <div class="d-grid gap-2">
                            <button id="catalog-button" onclick="location.href='@Url.Action("Index", "Catalog")'" class="btn btn-primary rounded-pill">Catalog</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/rent.jpg" class="card-img-top" alt="Rent">
                    <p class="card-text">Loan DvDs to members.</p>
                    <div class="card-footer bg-transparent">
                        <div class="d-grid gap-2">
                            <button id="loan-button" onclick="location.href='@Url.Action("Index", "Loans")'" class="btn btn-primary rounded-pill" type="button">Loan Management</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/images//member.jpg" class="card-img-top" alt="Members">
                    <p class="card-text">Manage the member info.</p>
                    <div class="card-footer bg-transparent">
                        <div class="d-grid gap-2">
                            <button id="member-button" onclick="location.href='@Url.Action("Index", "Members")'" class="btn btn-primary rounded-pill" type="button">Members</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript" src=@Url.Content("~/js/index.js")></script>

}
