@model MyShop.Models.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copy.CopyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.LoanTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
