@model IEnumerable<MyShop.Models.Loan>

@{
    ViewData["Title"] = "Loan";
}

<h1>Index</h1>

@if (!string.IsNullOrEmpty(ViewBag.summary))
{

    <button type="button" id="summary-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#summaryModal" hidden>
        Modal
    </button>

    <div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="summaryModalLabel">Summary</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Raw(@ViewBag.summary)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

<a type="button" asp-action="Available" class="btn btn-primary rounded-pill my-3" >
   <i class="bi bi-plus-circle"></i> Loan to member
</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>
                Date Loaned
            </th>
            <th>
                Date Due
            </th>
            <th>
                Date Returned
            </th>
            <th>
                Copy Id
            </th>
            <th>
                Member Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Copy.Dvd.DvDname
                </td>
                <td>
                    @item.DateOut.Value.ToString("d")
                </td>
                <td>
                    @item.DateDue.Value.ToString("d")
                </td>
                <td>
                    @if (item.ReturnedDate != null)
                    {
                        @item.ReturnedDate.Value.ToString("d")
                    }
                    else
                    {
                        <span class="badge rounded-pill bg-danger">Not Returned</span>
                    }

                </td>
                <td>
                    @item.CopyId
                </td>
                <td>
                    @item.Member.FirstName @item.Member.LastName
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.LoanId">Details</a>

                    @if (item.ReturnedDate == null)
                    {

                        <a asp-action="Edit" asp-route-id="@item.LoanId">Return</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript">
    // Show the error message if there w
    var errorButton = document.getElementById("summary-button");
    if(errorButton != null){
        errorButton.click();
    }

</script>
}
