@model IEnumerable<MyShop.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Available">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copy.CopyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.LoanTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
